<%= erb :'layouts/_header' %>

   <h1>Student Details</h1>
  <table>
  <tbody>
    <thead>
      <tr><img src="/public/uploads/<%= @s.profile_image %>" width=300> 
      <a href="/upload/<%= @s.slug %>">Change Your Photo</a></tr>
      <tr>
        <th>Name</th>
        <th>Twitter</th>
        <th>LinkedIn</th>
        <th>GitHub</th>
        <th class="change"></th>
        <th class="change"></th>
        <th class="change"></th>
      </tr>
    </thead>
  
      <tr>
        <td><%= @s.name %></td>
        <td><%= @s.twitter %></td>
        <td><%= @s.linkedin %></td>
        <td><%= @s.github %></td>
        <td><a href="/">Show All</a></td>
        <td><a href="/students/<%= @s.slug %>/edit">Edit</a></td>
        <td><a href="/students/<%= @s.slug %>/destroy">Destroy</a></td>
      </tr>

</tbody>
</table>

<%= erb :'layouts/_footer' %>